.venv/
build/
obj_dir/
__pycache__/
*.egg-info/
litex_setup.py
# litex_setup.py-vendored clones (re-created by `make litex-env`)
litex/
litex-boards/
migen/
liteeth/
litedram/
litei2c/
liteiclink/
litejesd204b/
litepcie/
litesata/
litescope/
litesdcard/
litespi/
pythondata-*/
*.log
.superpowers/
# GHDL/gcc build byproducts (analysis + object files, sim executables)
*.o
*.d
e~*
b8008_net_core_tb
# litex_setup.py side-download (companion to litex_setup.py above)
litex_repos.py
